.profile-picture { border: 2px  solid black;
                   border-radius: 5px;
               
	               padding: 5px;
	              
                 }

#pic { width:200px;
       height:200px;
     }
     
.container { width: 50%;
             display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;}

.info-container { 
             
             border: 2px solid black;
             border-radius: 5px;
           }

#name-header { background-color: #E0E0E0; }
                
.separator { border-bottom: 1px solid #D0D0D0; }

dt {
    float: left;
    clear: left;
    text-align: left;
    font-weight: bold;
  }
